@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
   --cor-de-title: #1C1616;
   --cor-de-link: #4D2C26;
   --cor-de-menu: #FFF;
   --cor-de-subtitle: #181B20;
   --cor-de-footer: #F1E8DC; 
   --cor-de-form: #3033389C;
   --cor-de-boton: #8E5B3D;
   --cor-de-boton-hover: #503323;
   --cor-de-exito: #14BA14;
   --cor-de-error: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-image: url("../../img/kiwihug-iiXyEE-HVXQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    min-height: 20em;
}